.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.footer a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
